.container
  .row.mt-5.mb-2
    .col-auto
      %h1 Weeks
    .col-auto.ms-auto
      = link_to 'New Week', new_week_path, class: 'btn btn-primary'

  - @weeks.each do |week|
    .row.g-3.align-items-center
      .col-auto
        %p.display-6
          = week.start_date.strftime('%A, %b %d, %Y')
      .col-auto.ms-5
        = link_to 'Show', week_path(week), class: 'btn btn-outline-primary'
        = link_to 'Edit', edit_week_path(week), class: 'btn btn-outline-info'
        = link_to 'Delete', week_path(week), 
            method: :delete, 
            data: { confirm: "Are you sure?" },
            class: 'btn btn-outline-danger'
      .row.mb-3
        .col-auto
          %table.table
            - week.days.each do |day|
              %tr
                %td= day.date.strftime('%A, %b %d, %Y')
                %td= day.meal.name

  .row.mt-5
    .col-auto
      =link_to 'Home', root_path, class: 'btn btn-primary'